
#dataTable_length {
    display: none !important;
}

#dataTable_filter {
    display: none !important;
}

#dataTable_info{
    display: none !important;
}

.pagination {
    display: none !important;
}

.card-footer {
    display: none !important;
}

.photo-size {
    width: 250px;
}

.btn-tableau {
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn-add-category {
    margin: 2% 0;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #d3e0e9;
    border: solid 1px #d3e0e9;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border: solid 1px #d3e0e9;
}

.panel-body {
    padding: 15px;
    border: solid 1px #d3e0e9;
}

.rating {
    float: left;
    width: 250px;
}

#input_comment {
    height: 43px;
}