
#dataTable_length {
    display: none !important;
}

#dataTable_filter {
    display: none !important;
}

#dataTable_info{
    display: none !important;
}

.pagination {
    display: none !important;
}

.card-footer {
    display: none !important;
}

.photo-size {
    width: 250px;
}

.btn-tableau {
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn-add-category {
    margin: 2% 0;
}