

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
            Options -MultiViews
    </IfModule>

    RewriteEngine On
      
    # Handle Front Controller...
    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteCond %{REQUEST_URI} !^/public/
    #RewriteCond %{REQUEST_URI} !^/js/
    #RewriteCond %{REQUEST_URI} !^/css/
    RewriteRule ^!(public/.*) - [F]
    RewriteRule ^!(/js) - [F]
    RewriteRule ^!(/css) - [F]
    RewriteRule ^ index.php [L]
</IfModule>


